@font-face {
  font-family: 'Ubuntu Arabic';
  src: url('../assets/fonts/Ubuntu_Arabic_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amiri Quran';
  src: url('../assets/fonts/amiri-quran.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
